body {
  width: 1440px;
  height: 900px;
  background-color: var(--color-body);
}
.main__container {
  padding: 20px;
  margin-left: 212px;
  font-family: var(--font);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}
.products__title {
  margin: 40px 0px 40px 0px;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.7%;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 78px;
}

h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.5%;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
}

button {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 6px 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--color-btn-confirm);
  color: #ffffff;
  border: none;
  font-family: var(--font);
}

.perfilForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  font-size: 12px;
}

.perfilForm {
  height: 590px;
}

.grupoNome,
.grupoNomeLoja,
.grupoEmail {
  display: flex;
  flex-direction: column;
}

.perfilForm input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background-color: var(--color-body);
  width: 420px;
  height: 30px;
  font-size: 16px;
}

.products__line {
  width: 1700px;
  height: 1px;

  background-color: var(--color-line);
  margin-top: 150px;
}
input[readonly] {
  background-color: #aaaaaa80;
  border: 1px solid #ddd;
  color: #666;
  opacity: 0.8;
  padding-left: 5px;
  cursor: default;
}

/* .sameLine input {
  width: 200px;
  margin-right: 20px;
}
.sameLine {
  display: flex;
}
.grupoBtn {
  display: flex;
  gap: 25px;
  align-items: center;
} */
